#Copy this env to be able to work locally. Fulfill the ollama model with the one you want to use
DATABASE_DSN=postgres://infergrid:infergrid@localhost:5432/infergrid?sslmode=disable
MIGRATIONS_PATH=file://internal/infrastructure/postgres/migrations
AMQP_URL=amqp://infergrid:infergrid@localhost:5672/
GRPC_LISTEN_ADDRESS=:9091
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=qwen3.5